/* ============================ CONTENEDOR NAVEGACION =========================== */
.header {
    height: 100vh;
    display: flex;
    z-index: 100;
    position: sticky;
    top: 0;
}

.container {
    position: relative;
}

/* ===== Boton revelador del menu ====== */
.bar {
    display: none;
    opacity: .6;
    justify-content: center;
    align-items: center;
    color: var(--principal);
    font-size: 2.3rem;
    padding: .3125rem;
    cursor: pointer;
    transition: color .2s ease-out, background-color .2s ease-out, opacity .2s ease-out;
}

.bar:hover {
    opacity: 1;
}

/* ============================ NAVEGACION =========================== */
.nav {
    background-color: #014;
    width: 100%;
    height: 100%;
    padding: 0 0 0 .3125rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.boxLink {
    background-color: var(--baseElementos);
    border-radius: 1rem;
    box-shadow: .3125rem .3125rem .3125rem var(--negro);
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    border-radius: 50% 0 50% 50%;
    padding: .3125rem;
    font-size: 2.3rem;
    position: relative;
    border-radius: 50% 0 50% 50%;
    color: var(--principal);
    transition: color .2s ease-out, scale .2s ease-out, background-color .2s ease-out;
}


.link:hover {
    color: var(--negro);
    background-color: var(--principal);
}

.link:active {
    scale: .9;
}

.linkName {
    background-color: var(--baseElementos);
    text-align: center;
    width: 0;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
    position: absolute;
    font-size: 1.4rem;
    color: var(--baseElementos);
    font-family: var(--tipografia);
    top: 0;
    left: 100%;
    white-space: nowrap;
    pointer-events: none;
    transition: left .2s ease-out, width .2s ease-out, background-color .2s ease-out;
}

.link:hover>.linkName {
    background-color: var(--principal);
    color: var(--negro);
    width: 12ch;
}

/* ===================== MEDIA QUERIES ======================== */
@media screen and (width < 1000px) {
    .header {
        position: fixed;
        width: 100%;
        height: auto;
        transition: top .2s;
    }

    .container {
        width: 100%;
        display: flex;
    }

    .bar {
        display: flex;
    }

    .nav {
        background-color: transparent;
        translate: 0 -47px;
        padding: 0;
        overflow: hidden;
        transition: translate .3s ease-out;
    }

    .navReveal {
        translate: 0;
    }

    .boxLink {
        flex-flow: row nowrap;
        height: 100%;
        border-radius: .3125rem 0 0 .3125rem;
        padding: .3125rem;
        box-shadow: none;
    }

    .link {
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: .3125rem;
        padding: 0;
        overflow: hidden;
        transition: background-color .3s ease-out, color .3s ease-out;
    }

    .linkIcon {
        position: relative;
        transition: width .2s;
    }

    .linkName {
        border-radius: 0;
        position: relative;
        left: auto;
        top: auto;
        transition: width .3s ease-out, background-color .3s ease-out;
    }

    .link:hover>.linkIcon {
        width: 20%;
    }

}