/* ===== Estilos de los contenedores ===== */
.containerSkills {
    background: var(--fondo);

    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.skills {
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    margin: 5rem 0;
}


/* ===== Estilo de la etiqueta observadora ===== */
.observer {
    position: absolute;
    bottom: 50%;
}

/* ====== Darle estilos a los iconos ======= */
.icon {
    background-color: var(--baseElementos);
    padding: 20px;
    border-radius: 1rem;
    font-size: 8rem;
    opacity: 0;
    box-shadow: .3125rem .3125rem .3125rem var(--negro);
}

.icon:nth-child(1) {
    color: #f51;
    transition: opacity .3s;
}

.icon:nth-child(2) {
    color: #07e;
    transition: opacity .3s .1s;
}

.icon:nth-child(3) {
    color: #ff0;
    transition: opacity .3s .2s;
}

.icon:nth-child(4) {
    color: #1ff;
    transition: opacity .3s .1s;
}

.icon:nth-child(5) {
    color: #0d1;
    transition: opacity .3s .2s;
}

.icon:nth-child(6) {
    color: #ccc;
    transition: opacity .3s .3s;
}

.icon:nth-child(7) {
    color: #fa0;
    transition: opacity .3s .2s;
}

.icon:nth-child(8) {
    color: #90c;
    transition: opacity .3s .3s;
}

/* ===== Estilo que revela los iconos ==== */
.show {
    opacity: 1;
}

/* ===== Media queries ===== */
@media screen and (width < 550px) {
    .skills {
        width: 90%;
    }

    .icon {
        font-size: 5rem;
    }
}

@media screen and (height < 550px) {
    .skills {
        width: 70%;
    }

    .icon {
        font-size: 4rem;
    }
}