/* ===== Estilo del contenedor principal ===== */
.containerProjects {
    background: var(--fondo);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* ===== Estilo del contenedor del carrusel y botones de movimiento ===== */
.model {
    width: 26rem;
    height: 37.5rem;
    margin: 5rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border-radius: .625rem;
}

/* ===== Estilo del contenedor del carrusel y cards ===== */
.carousel {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: flex-start;
    transition: margin-left .5s ease-out;
}

.boxCard {
    perspective: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 2.5rem;
    opacity: .3;
    pointer-events: none;
    transition: opacity .5s ease-out;
}

.card {
    background-color: var(--baseElementos);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    border-radius: 1rem;
    box-shadow: .3125rem .3125rem .3125rem var(--negro);

    position: relative;
    transform-style: preserve-3d;

    transition: scale .5s ease-out, transform .5s ease-out;
}


/* ===== Estilos del frente y reves de cada tarjeta ===== */
.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    padding: 16px;
    overflow: hidden;

    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

/* ===== Estilos del contenido de las cards ===== */
.boxDescript {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descript {
    padding: .625rem;
    text-align: justify;
    color: var(--blanco);
    hyphens: none;
    font-family: var(--tipografia);
}

.contImg {
    width: 100%;
    max-height: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    overflow: hidden;
}

.contImg img {
    height: 100%;
}

.contLinks {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    width: 100%;
    font-size: 1.8rem;
    color: var(--blanco);
    padding: 10px;
    border-radius: 50%;
    transition: background-color .2s ease-in, color .2s ease-in;
}

.link:hover {
    background-color: var(--principal);
    color: var(--negro);
}

.boxTurn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.turn {
    background-color: var(--negro);
    color: var(--blanco);
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: var(--tipografia);
    padding: .875rem;
    border-radius: .625rem;
    border: 2px solid var(--principal);
    transition: scale .2s ease-in;
}

.turn:hover {
    scale: 1.1;
}

/* ===== Estilo de los botones de movimiento ===== */
.containerBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.btn {
    font-size: 3rem;
    color: var(--blanco);
    cursor: pointer;
    transition: scale .2s, color .2s;
}

.btn:hover {
    scale: 1.2;
    color: var(--principal);
}

/* ===== Media queries ===== */
@media screen and (width < 500px) {
    .model {
        width: 25rem;
        height: 37.5rem;
    }
}