@import url('../Variables/varDeColores.css');

/* ===== Scrollbar estilos ===== */
html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

/* ===== Estilos del contenedor ===== */
.container__portfolio {
    display: flex;
}

/* ===== Media queries ===== */
@media screen and (width < 1000px) {
    .container__portfolio {
        flex-flow: column nowrap;
    }
}
