@import url('./fuente.css');

:root{
    --principal: #0ff;
    --secundario: #1af;
    --blanco: #fff;
    --baseElementos: #002;
    --fondo: linear-gradient(90deg, #014, #015, #038, #015);
    --negro: #000;
    --tipografia: Belanosima;
}